{% extends 'sysadmin/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Create Professor {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
   <form action="/WEB/sysadmin/altaprofessor/" method="post">
   	 <div class="container">
	<ul class = "list-group">
   	 {% csrf_token %}
    	  <li class="list-group-item">{{ form.username }}</li>
	  <li class="list-group-item">{{ form.password }}</li>
	  <li class="list-group-item">{{ form.email }}</li>
	  <li class="list-group-item">{{ form.first_name }}</li>
          <li class="list-group-item">{{ form.last_name }}</li>
    	  <li class="list-group-item"><input class="btn btn-primary btn-lg"type="submit" value="Afageix" /></li>
	</ul>
	</div>
   </form>
  {% endblock %}
</body>
</html>

