{% extends 'sysadmin/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Assignatures List {% endblock %}</title>
  </head>
  <body>
    {% block pagecontent %}
    <div class="table-div">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Data inici</th>
	    <th>Data fi</th>
            <th>Professor</th>
          </tr>
        </thead>
        <tbody>
          {% for assig in assignatures %}
            <tr>
              <td>{{ assig.nom }}</td>
              <td>{{ assig.inici }}</td>
	      <td>{{ assig.final }}</td>
              <td> </td>
              <td><a href="/WEB/sysadmin/classesassignatura/?assignatura={{ assig.nom }}">Horaris</a></td>
              <td><a href="/WEB/sysadmin/delete/?assignatura={{ assig.nom }}"> Esborra </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  <a href="/WEB/sysadmin/crearclasse">Afageix una nova assignatura</a>
    </div>
    {% endblock %}
  </body>
</html>
