{% extends 'sysadmin/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Professors List {% endblock %}</title>
  </head>
  <body>
    {% block pagecontent %}
    <div class="table-div">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
	    <th>Email</th>
            <th>Nom</th>
          </tr>
        </thead>
        <tbody>
          {% for professor in professors %}
            <tr>
              <td>{{ professor.user.username }}</td>
              <td>{{ professor.user.password }}</td>
	      <td>{{ professor.user.email }}</td>
              <td>{{ professor.user.first_name }}</td>
              <td><a href="/WEB/sysadmin/delete/?professor={{ professor.user.username }}"> Esborra </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  <a href="/WEB/sysadmin/altaprofessor">Afageix un nou professor</a>
    </div>
    {% endblock %}
  </body>
</html>
