{% extends 'sysadmin/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sales List {% endblock %}</title>
  </head>
  <body>
    {% block pagecontent %}
    <div class="table-div">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>MAC</th>
          </tr>
        </thead>
        <tbody>
          {% for sala in sales %}
            <tr>
              <td>{{ sala.nom }}</td>
              <td>{{ sala.MAC }}</td>
              <td><a href="/WEB/sysadmin/delete/?sala={{ sala.nom }}"> Esborra </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/WEB/sysadmin/crearsala">Afageix una nova sala</a>
    </div>
    {% endblock %}
  </body>
</html>
