<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title> Log In </title>
</head>
<body>
<div class="jumbotron">
<div class='text-center' >
<div class="page-header">
  <h1>Welcome to Attendancy </h1>
</div>
  <form method="post" action="/WEB/">
			{% csrf_token %}
    			{{ form.username.label_tag }}
    			{{ form.username }}
		 
    			{{ form.password.label_tag }}
    			{{ form.password }}
		<input class="btn btn-primary btn-lg" type="submit" value="login" />
		<input type="hidden" name="next" value="/WEB/home" />
  </form>
  <a href="/WEB/altaProfessor">New User</a>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
</div>
</div>
</body>
</html>



